
.banner {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 20rem;
}

.banner__title {
    margin-bottom: 4rem;
}

.uppercase {
    text-transform: uppercase;
}

.banner__a{
    background-color: var(--primary-color);
    text-decoration: none;
    font-size: 1.8rem;
    color: #000;

    padding: 1.6rem 4.6rem;
    
    border-radius: 4px;
}