footer {
    --background-color: #2a2a2a;;
    --color: #ffffff;
}

.footer {
    box-sizing: border-box;
    background-color: var(--background-color);
    
    font-size: 1.6rem;
    color: var(--color);
    
    height: 14.7vh;
    
    padding: 2rem;
    text-align: center;
    
}

.footer__content a {
    color: var(--color);
}