@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;600&amp;display=swap");


:root {
    --primary-color: #fed001;
    --secondary-color: #2a2a2a;
}

html {
    font: 400 62.5% 'Inter', sans-serif;
}

body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
}

p,
a {
    font-size: 1.6rem;
}

h1 {
    font-size: 4.8rem;
}

h2 {
    font-size: 4rem;
}

h3 {
    font-size: 3.2rem;
}

nav a {
    color: inherit;
}

.wrapper-container {
    padding-top: 1px;
}

.wrapper-container-max-width-center {
    max-width: 127.6rem;
    margin: 0 auto;
}

.wrapper-container-padded {
    padding-top: 12rem;
}

.wrapper-container-fixed {
    position: sticky;
    width: 100%;
    top: 0;
    left: 0;
}

.wrapper-container-light{
    background-color: #fafafa;
}

.wrapper-container-dark {
    background-color: var(--secondary-color);
}

.wrapper-container-dark2 {
    background-color: #003464;
    color: #fafafa;
}

.wrapper-container-gradient {
    background-image: linear-gradient(transparent, rgb(255, 255, 86));
}

.btn {
    background-color: var(--primary-color);
    border-radius: 4px;
    font-size: 1.8rem;
    text-decoration: none;
    padding: 1.6rem 4.6rem;
    display: inline-block;
    color: inherit;
}

.section-btn {
    margin: 7rem 0;
}